name: 'Generate Docker Image on Ecr'
description: 'Create and publish docker image'
inputs:
  content:
    description: 'Content to download'
    required: false
  image:
    description: 'Image Name'
    required: true
  tag:
    description: 'Image Tag'
    required: true
  before_building:
    description: 'Before image callback'
    required: false
  build_args: 
    description: 'Building docker args'
    required: false

runs:
  using: composite
  steps:
  - name: Set up Docker Buildx
    uses: docker/setup-buildx-action@v3

  - name: configure aws credentials
    uses: aws-actions/configure-aws-credentials@v4
    with:
      role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_NUMBER }}:role/${{ env.AWS_ROLE_NAME }}
      role-session-name: ${{ env.AWS_ROLE_NAME }}
      aws-region: ${{ env.AWS_REGION }}

  - name: Login to Amazon ECR
    id: login-ecr
    uses: aws-actions/amazon-ecr-login@v2
    env:
      AWS_REGION: ${{ env.CLUSTER_REGION }}

  - name: Ensure ECR Repository exists
    shell: bash
    env:
      AWS_REGION: ${{ env.CLUSTER_REGION }}
    run: |
      set -e
      repo_name="${{ inputs.image }}"
      echo " Verificando se o reposit贸rio $repo_name existe..."
      if ! aws ecr describe-repositories --repository-names "$repo_name" --region "$AWS_REGION" >/dev/null 2>&1; then
        echo "Reposit贸rio $repo_name n茫o encontrado. Criando..."
        aws ecr create-repository --repository-name "$repo_name" --region "$AWS_REGION"
        echo "Reposit贸rio $repo_name criado."
        aws s3 cp s3://devops.orbitspot.com/build-github-actions/v1/ecr/ecr-policy.json ecr-policy.json
        echo "Aplicando lifecycle policy..."
        aws ecr put-lifecycle-policy \
          --repository-name "$repo_name" \
          --lifecycle-policy-text file://ecr-policy.json \
          --region "$AWS_REGION"
        echo "Lifecycle policy aplicada ao reposit贸rio $repo_name."
      else
        echo "Reposit贸rio $repo_name j谩 existe."
      fi

  - name: Download Building files
    uses: actions/download-artifact@v4
    if: ${{ inputs.content != '' }}
    with:
      name: ${{ inputs.content }}
  
  - name: Before Image Building
    shell: bash
    if: ${{ inputs.before_building != '' }}
    run: ${{ inputs.before_building }}

  - name: "Building and pushing image"
    shell: bash
    run: |
      docker build -t ${{ inputs.image }}:${{ inputs.tag }} ${{ inputs.build_args }} .
      docker tag ${{ inputs.image }}:${{ inputs.tag }} ${{ steps.login-ecr.outputs.registry }}/${{ inputs.image }}:${{ inputs.tag }}
      docker push ${{ steps.login-ecr.outputs.registry }}/${{ inputs.image }}:${{ inputs.tag }}
