module: <MODULE>

nodeSelector:
    nodegroup-type: ${.<REPOSITORY-NAME>.<DEPLOYMENT-NAME>.node_selector}

csiSecrets:
    enabled: true
    serviceAccountName: "application-permission"

service:
    type: ClusterIP

containers:
    - name: migration
      repository:
          tag: latest
      ports:
          - targetPort: 3000
            port: 80
            protocol: TCP
      resources:
          requests:
              cpu: ${.<REPOSITORY-NAME>.<DEPLOYMENT-NAME>.resources.requests.cpu}
              memory: ${.<REPOSITORY-NAME>.<DEPLOYMENT-NAME>.resources.requests.memory}
          limits:
              cpu: ${.<REPOSITORY-NAME>.<DEPLOYMENT-NAME>.resources.limits.cpu}
              memory: ${.<REPOSITORY-NAME>.<DEPLOYMENT-NAME>.resources.limits.memory}