name: Api Gateway

on:
  workflow_call:
    inputs:
      module:
        required: true
        type: string
      docs:
        required: true
        type: string
      istio_enabled:
        required: false
        type: string
        default: "true"
      hosts:
        required: false
        type: string
        default: "${{ vars.ISTIO_HOST }}"
      resource_name:
        required: false
        type: string
        default: ""
        
concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  setup-config:
    name: Set up pipeline config  
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    outputs:
      AWS_ACCOUNT_NUMBER: '${{ steps.set-output.outputs.AWS_ACCOUNT_NUMBER }}'
      TERRAFORM_BUCKET: '${{ steps.set-output.outputs.TERRAFORM_BUCKET }}'
      CLUSTER_REGION: '${{ steps.set-output.outputs.CLUSTER_REGION }}'
    steps:
      - name: Set up
        id: set-output
        uses:  orbitspot/actions/.github/actions/setup-config@v21
        with:
          repo_vars: '${{ toJson(vars) }}'
          devops_config: '${{ vars._DEVOPS_CONFIG }}'

  create-api-gateway:
    name: Create
    runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
    needs: [setup-config]
    permissions:
      id-token: write
      contents: read
    env:
      AWS_ACCOUNT_NUMBER: '${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}'
      TERRAFORM_BUCKET: '${{ needs.setup-config.outputs.TERRAFORM_BUCKET }}'
      CLUSTER_REGION: '${{ needs.setup-config.outputs.CLUSTER_REGION }}'
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - uses: hashicorp/setup-terraform@v3
        name: setup
        with:
          terraform_version: 1.5.0

      - name: Terraform
        uses: orbitspot/actions/.github/actions/api-gateway@feat/add-vpc
        env:
          AWS_ROLE_NAME: ${{ vars.AWS_ROLE_NAME }}
          AWS_REGION: ${{ env.CLUSTER_REGION }}
          AWS_ACCOUNT_NUMBER: ${{ env.AWS_ACCOUNT_NUMBER }}
          TF_VAR_branch: '${{ github.ref_name }}'
          TF_VAR_repository_name: '${{ github.event.repository.name }}'
          TF_VAR_hosts: '${{ inputs.hosts }}'
          TF_VAR_docs: '${{ inputs.docs }}'
          TF_VAR_istio_enabled: '${{ inputs.istio_enabled }}'
          TF_VAR_resource_name: '${{ inputs.resource_name }}'
          TF_VAR_api_gateway: '${{ vars._API_GATEWAY_TESTE }}'
          TF_VAR_ssl: 'false'
      
      - name: Clean up machine
        shell: bash
        run: |
          rm -rf /opt/actions-runner/_work/${{ github.repository }}/*
          df -h
