name: Migration
on:
  workflow_call:
    inputs:
      module:
        required: true
        type: string
      run_command:
        required: true
        type: string
      grafana_tag: # retirar na proxima breaking
        required: false
        type: string
        default: ''

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

env: # global env
  AWS_ROLE_NAME: ${{ vars.AWS_ROLE_NAME }}
  AWS_REGION: ${{ vars._AWS_REGION }}

jobs:
  setup-config:
    name: Set Up Config
    runs-on: ['${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
    environment: ${{ github.ref_name }}
    outputs:
      CLUSTER_REGION: '${{ steps.set-output.outputs.CLUSTER_REGION }}'
      CLUSTER_NAME: '${{ steps.set-output.outputs.CLUSTER_NAME }}'
      ENV: '${{ steps.set-output.outputs.ENV }}'
      AWS_ACCOUNT_NUMBER: '${{ steps.set-output.outputs.AWS_ACCOUNT_NUMBER }}'
      TERRAFORM_BUCKET: '${{ steps.set-output.outputs.TERRAFORM_BUCKET }}'
    steps:
      - name: Set up
        id: set-output
        uses:  orbitspot/actions/.github/actions/setup-config@feat/default-requests
        with:
          setup: 'migration'
          repo_vars: '${{ toJson(vars) }}'
          devops_config: '${{ vars._DEVOPS_CONFIG }}'
  
  create-parameters:
    name: Create parameters
    runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
    needs: [setup-config]
    environment: ${{ github.ref_name }}
    env:
      AWS_ACCOUNT_NUMBER: ${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}
      CLUSTER_REGION: ${{ needs.setup-config.outputs.CLUSTER_REGION }}
      TERRAFORM_BUCKET: ${{ needs.setup-config.outputs.TERRAFORM_BUCKET }}
    steps:
      - name: Building
        uses: orbitspot/actions/.github/actions/update-parameter-store@feat/default-requests
        with:
          module: '${{ inputs.module }}'
          environment_vars: '${{ toJson(vars) }}'
          environment_secrets: '${{ toJson(secrets) }}'


  building:
    name: Building
    runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
    needs: [setup-config]
    permissions:
      id-token: write
      contents: read
    env:
      AWS_ACCOUNT_NUMBER: ${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}
    steps:
      - name: Building
        uses: orbitspot/actions/.github/actions/package-manager-install@feat/default-requests
        with:
          node_version: '20'
          customized_dockerfile: '${{ inputs.dockerfile_path  }}'

  generate-docker:
    name: Docker Build
    runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
    environment: ${{ github.ref_name }}
    needs: [setup-config, building]
    permissions:
      id-token: write
      contents: read
    env:
      CLUSTER_REGION: '${{ needs.setup-config.outputs.CLUSTER_REGION }}'
      AWS_ACCOUNT_NUMBER: ${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}
    steps:
      - name: Generate Docker
        uses: orbitspot/actions/.github/actions/generate-docker@feat/default-requests
        with:
          deployment_name: migration
          dockerfile_path: ${{ inputs.dockerfile_path }}
          version: '20'
          build_args: '--build-arg sha=${{ github.sha }} --build-arg RUNNER=migration'
          before_building: |
            echo "${{ inputs.run_command }}" >> command.sh
            cat base_script.sh command.sh > migration.sh
            cat migration.sh

  prepare-helm-replacements:
    name: Building Helm Values
    runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
    environment: ${{ github.ref_name }}
    needs: [setup-config, generate-docker]
    permissions:
      id-token: write
      contents: read
    env:
      ACM_ARN: '${{ needs.setup-config.outputs.ACM_ARN }}'
      ENV: '${{ needs.setup-config.outputs.ENV }}'
      PROPERTIES: '${{ vars._PROPERTIES_MIGRATION }}'
    steps:
      - name: Preparar values.yaml
        id: prepare_helm
        uses: orbitspot/actions/.github/actions/prepare-helm-chart-values@feat/default-requests
        with:
          deployment_name: migration
          module: ${{ inputs.module }}
        env:
          MODULE: ${{ inputs.module }}
          BROKER_AMQP: ${{ secrets.BROKER_AMQP }}
          DB_PORT: ${{ vars.DB_PORT }}
          DB_HOST: ${{ vars.DB_HOST }}
          VARS: ${{ toJson(vars) }}
          SECRETS: ${{ toJson(secrets) }}

  helm-CD-migration:
    name: K8s Deploy Migration
    runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
    environment: '${{ github.ref_name }}'
    needs: [setup-config, prepare-helm-replacements]
    permissions:
      id-token: write
      contents: read
    env:
      CLUSTER_REGION: '${{ needs.setup-config.outputs.CLUSTER_REGION }}'
      CLUSTER_NAME: '${{ needs.setup-config.outputs.CLUSTER_NAME }}'
      ENV: '${{ needs.setup-config.outputs.ENV }}'
      AWS_ACCOUNT_NUMBER: ${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}
    steps:
      - name: helm-apply
        uses: orbitspot/actions/.github/actions/helm-deploy@feat/default-requests
        with:
          namespace: '${{ github.event.repository.name }}'
          helm_values: helm-values-migration
          release: migration
          chart_name: orbitspot/orbitspot-terraform
          chart_version: 0.3.5
          sets: |
            --set environment=${{ env.ENV}} \
            --set region=${{ env.CLUSTER_REGION }} \
            --set 'containers[0].repository.image=${{ env.AWS_ACCOUNT_NUMBER }}.dkr.ecr.${{ env.CLUSTER_REGION }}.amazonaws.com/migration-${{ github.event.repository.name }}' \
            --set 'containers[0].repository.tag=${{ github.sha }}'
      
      - name: Clean up machine
        shell: bash
        run: |
          rm -rf /opt/actions-runner/_work/${{ github.repository }}/*
          df -h