name: Push node

on:
  workflow_call:
    inputs:
      module:
        required: true
        type: string
      version:
        required: true
        type: string
      dockerfile_path:
        required: false
        type: string
        default: ''
      grafana_tag: # retirar na proxima breaking
        required: false
        type: string
        default: ''

concurrency:
    group: '${{ github.workflow }}-${{ github.ref }}'
    cancel-in-progress: true

env: # global env
  AWS_ROLE_NAME: ${{ vars.AWS_ROLE_NAME }}
  AWS_REGION: ${{ vars._AWS_REGION }}

jobs:
  setup-config:
    name: Set Up Config
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    outputs:
      CLUSTER_REGION: '${{ steps.set-output.outputs.CLUSTER_REGION }}'
      CLUSTER_NAME: '${{ steps.set-output.outputs.CLUSTER_NAME }}'
      ACM_ARN: '${{ steps.set-output.outputs.ACM_ARN }}'
      ENV: '${{ steps.set-output.outputs.ENV }}'
      AWS_ACCOUNT_NUMBER: '${{ steps.set-output.outputs.AWS_ACCOUNT_NUMBER }}'
    steps:
      - name: Set up
        id: set-output
        uses:  orbitspot/actions/.github/actions/setup-config@fix/frontend-lib
        with:
          setup: 'frontend'
          repo_vars: '${{ toJson(vars) }}'
          devops_config: '${{ vars._DEVOPS_CONFIG }}'

  building:
      name: Building
      runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
      environment: ${{ github.ref_name }}
      needs: [setup-config]
      permissions:
        id-token: write
        contents: read
      env:
        AWS_ACCOUNT_NUMBER: ${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}
      steps:
          - name: Authenticate
            uses: orbitspot/actions/.github/actions/code-artifact-authenticate@fix/frontend-lib

          - name: Configurar Python
            uses: actions/setup-python@v5
            with:
                python-version: '3.x'

          - name: Set up Node.js
            uses: actions/setup-node@v4
            with:
                node-version: '20'

          - name: Bash Co Login
            run: |
                bash co_login_commands.txt 
      
          - name: Cache dependences
            uses: actions/cache@v4
            with:
                path: ~/.npm
                key: deps-node-modules-${{ hashFiles('**/yarn.lock') }}
          
          - uses: actions/checkout@v4
            name: Checkout
            with:
                fetch-depth: 0
                ref: ${{ github.ref_name }}

          - uses: actions/checkout@v4
            name: Checkout
            with:
                repository: 'orbitspot/actions'
                ref: fix/frontend-lib
                path: orbitspot-actions

          - name: Fetch fronted variables
            env:
                frontend_config: ${{ vars._FRONTEND_CONFIG }}
                branch: '${{ github.ref_name }}'
                variables_json: ${{ toJson(vars) }}
                secrets_json: ${{ toJson(secrets) }}
            run: |
                python orbitspot-actions/.github/scripts/generate-environment-frontend.py
                cat .env
          
          - name: Install Yarn
            run: npm install -g yarn

          - name: Yarn Building
            shell: bash
            run: |
                echo 'PUBLIC_PATH="https://${{ vars.HOST_MF }}/"' >> .env
                cat .env
                yarn
                yarn build
        
          - name: Zip Docker Content
            shell: bash
            run: |
                mkdir -p building
                mv build building/build
                mv package.json building/package.json
                sudo apt install zip
                zip -r building/node_modules.zip node_modules

          - name: Upload Artifacts
            uses: actions/upload-artifact@v4
            with:
                name: building
                path: building
                retention-days: 1

  generate-docker:
      name: Docker Build
      runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
      environment: ${{ github.ref_name }}
      needs: [setup-config, building]
      permissions:
        id-token: write
        contents: read
      env:
        CLUSTER_REGION: '${{ needs.setup-config.outputs.CLUSTER_REGION }}'
        AWS_ACCOUNT_NUMBER: ${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}
      steps:
        - name: Authenticate
          uses: orbitspot/actions/.github/actions/code-artifact-authenticate@fix/frontend-lib

        - name: Download Dockerfile from S3
          if: ${{ inputs.dockerfile_path == ''}}
          run: |
            aws s3 sync s3://devops.orbitspot.com/build-github-actions/v1/deploy/frontend .

        - name: Copy Dockerfile from original repository
          if: ${{ inputs.dockerfile_path != '' }}
          run: |
            mv ${{ inputs.dockerfile_path }} Dockerfile

        - name: docker-build
          uses: orbitspot/actions/.github/actions/docker@fix/frontend-lib
          with:
              content: "building"
              image: ${{ github.event.repository.name }}
              tag: ${{ github.sha }}

  create-service-account-role:
      name: Creating Aws Resources
      runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
      environment: ${{ github.ref_name }}
      needs: [setup-config, building]
      permissions:
        id-token: write
        contents: read
      env:
        CLUSTER_REGION: '${{ needs.setup-config.outputs.CLUSTER_REGION }}'
        CLUSTER_NAME: '${{ needs.setup-config.outputs.CLUSTER_NAME }}'
        ENV: '${{ needs.setup-config.outputs.ENV }}'
        AWS_ACCOUNT_NUMBER: ${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}
      steps:
        - name: create-role
          uses: orbitspot/actions/.github/actions/create-role-service-account@fix/frontend-lib
          with:
            role: '${{ github.event.repository.name }}-${{ env.ENV }}'
            namespace: ${{ github.event.repository.name }}
            service_account_name: 'application-permission'
            policy: ${{ vars._POLICY_JSON }}

        - name: create-namespace
          uses: orbitspot/actions/.github/actions/create-namespace-and-service-account@fix/frontend-lib
          with:
            namespace: ${{ github.event.repository.name }}
            service_account_name: 'application-permission'
            module: ${{ inputs.module }}

  helm-deploy:
      name: K8s Deploy
      runs-on: [ '${{ github.ref_name }}', '${{ inputs.module }}', linux, self-hosted, x64]
      environment: ${{ github.ref_name }}
      needs: [ setup-config, create-service-account-role, generate-docker ]
      permissions:
        id-token: write
        contents: read
      env:
        CLUSTER_REGION: '${{ needs.setup-config.outputs.CLUSTER_REGION }}'
        CLUSTER_NAME: '${{ needs.setup-config.outputs.CLUSTER_NAME }}'
        ACM_ARN: '${{ needs.setup-config.outputs.ACM_ARN }}'
        ENV: '${{ needs.setup-config.outputs.ENV }}'
        AWS_ACCOUNT_NUMBER: ${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}
      steps:
          - name: Preparar values.yaml
            id: prepare_helm
            uses: orbitspot/actions/.github/actions/prepare-helm-chart-values@fix/frontend-lib
            with:
              deployment_name: 'frontend'
              module: ${{ inputs.module }}
            env:
              MODULE: ${{ inputs.module }}
              BROKER_AMQP: ${{ secrets.BROKER_AMQP }}
              DB_PORT: ${{ vars.DB_PORT }}
              DB_HOST: ${{ vars.DB_HOST }}
              PROPERTIES: ${{ vars._PROPERTIES }}
              HELM_MASS_REPLACE: ${{ vars.HELM_MASS_REPLACE }}

          - name: upload
            uses: actions/upload-artifact@v4
            with:
              name: helm-values
              path: .github/helm/frontend/values.yaml
              retention-days: 1

          - name: helm-apply
            uses: orbitspot/actions/.github/actions/helm-deploy@fix/frontend-lib
            with:
              namespace: ${{ github.event.repository.name }}
              helm_values: helm-values
              release: nginx
              chart_name: orbitspot/orbitspot-front-nginx
              chart_version: 1.1.1
              sets: |
                  --set environment=${{ env.ENV }} \
                  --set region=${{ env.CLUSTER_REGION }} \
                  --set 'containers[0].repository.image=${{ needs.setup-config.outputs.AWS_ACCOUNT_NUMBER }}.dkr.ecr.${{ env.CLUSTER_REGION }}.amazonaws.com/${{ github.event.repository.name }}' \
                  --set 'containers[0].repository.tag=${{ github.sha }}' \
                  --set ingress.annotations.acm=${{ env.ACM_ARN }} \
                  --set ingress.rules[0].host=${{ vars.HOST_MF }}
          
          - name: Clean up machine
            shell: bash
            run: |
              rm -rf /opt/actions-runner/_work/${{ github.repository }}/*
              df -h